<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="connection.datasource">
        jdbc/almacen
    </property>
    <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
    <property name="hibernate.show_sql">true</property>
    <property name="hibernate.format_sql">true</property>
    <property name="hibernate.current_session_context_class">thread</property>
    <mapping resource="com/almacen/model/TipoEntrada.hbm.xml"/>
    <mapping resource="com/almacen/model/Factura.hbm.xml"/>
    <mapping resource="com/almacen/model/UnidadDeMedida.hbm.xml"/>
    <mapping resource="com/almacen/model/ArticuloEntrada.hbm.xml"/>
    <mapping resource="com/almacen/model/UsuarioStatus.hbm.xml"/>
    <mapping resource="com/almacen/model/FormaDePago.hbm.xml"/>
    <mapping resource="com/almacen/model/Departamento.hbm.xml"/>
    <mapping resource="com/almacen/model/CatalogoBienes.hbm.xml"/>
    <mapping resource="com/almacen/model/Proveedor.hbm.xml"/>
    <mapping resource="com/almacen/model/Acceso.hbm.xml"/>
    <mapping resource="com/almacen/model/Permiso.hbm.xml"/>
    <mapping resource="com/almacen/model/Salida.hbm.xml"/>
    <mapping resource="com/almacen/model/Articulo.hbm.xml"/>
    <mapping resource="com/almacen/model/Empleado.hbm.xml"/>
    <mapping resource="com/almacen/model/SubCatalogoBienes.hbm.xml"/>
    <mapping resource="com/almacen/model/UsuarioPermiso.hbm.xml"/>
    <mapping resource="com/almacen/model/TipoPartida.hbm.xml"/>
    <mapping resource="com/almacen/model/UsuarioNivel.hbm.xml"/>
    <mapping resource="com/almacen/model/Usuario.hbm.xml"/>
    <mapping resource="com/almacen/model/Marca.hbm.xml"/>
    <mapping resource="com/almacen/model/ArticuloSalida.hbm.xml"/>
  </session-factory>
</hibernate-configuration>
